<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Old Books</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="@Url.Content("~/Content/Images/logo.png")" style="margin-top: -21px;">
                </a>
            </div>
            <form class="navbar-form navbar-left" role="search" style="margin-bottom: -6px; margin-top: 0px;" action="/Home" method="get">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="O que você procura?" style="border-radius: 3px; width: 260px; height: 35px;">
                </div>
                <button class="btn btn-default" type="submit" style=" background: transparent; border: none; font-size: 23px; color: white; width: 40px;">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Meus Livros", "Index", "Livros")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categorias<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.Action("Menu", "Menu")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="background: white; padding-top: 22px; border-radius: 5px; min-height: 800px;">
        @RenderBody()
        <br />
    </div>
    <footer>
        <br /><br /><br />
        <p class="col-md-12">&copy; @DateTime.Now.Year - Old Books</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mascara")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/arquivos")
    @RenderSection("scripts", required: false)
</body>
</html>
