@model OldBooks.BLL.Models.Livro

<div class="col-md-3 sumario">
    <div align="center" class="panel panel-primary" style="width: 100%; height: 320px; border: none; padding: 5px; ">
        <img src="@Url.Content(Model.Foto)" width="175" height="225" onclick="window.location.href = '/Livros/Details/@Model.LivroId'" onmouseover="$(this).css('cursor', 'pointer');" />
        <p style="max-height: 20px; font-weight: bold; ">@Model.Titulo</p>
        <div class="panel-body">
            <h6>
                <span class="pull-right badge" style="    background: transparent;    color: gray;    font-size: 20px;">
                    @Html.DisplayFor(model => model.Valor)
                </span>
                <br />
            </h6>
            <br />
            @using (Html.BeginForm("AdicionaraoCarrinho", "Carrinho", new { id = Model.LivroId }))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.LivroId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                    @{
                if (Model.Quantidade > 0)
                {
                    <button type="submit" class="btn btn-success btn-xs btn-car"><i class="glyphicon glyphicon-shopping-cart"></i> Adicionar </button>
                }

                else
                {
                            <label class="label label-danger">Indisponível</label>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>